body {
    margin: 0;
}  
.header {
    background-color: #1B6392;
    padding: 15px 10px 15px; 
    display: flex;
    align-items: center; 
    height: 15px; 
}

.first {
    padding: 15px 0px 15px 10px;
    background-color: #020203;
    height: 15px; 
    display: flex;
    align-items: center;
    text-align: center;
}

.footer {
    background-color: #020203;  
    padding: 10px 0px 23px;               
    display: flex;               
    flex-direction: column;      
    align-items: center;       
    justify-content: center;  
} 
a{
    text-decoration: none;
}

.header-button {
    background-color:white ; 
    color: black; 
    padding: 9px 50px 9px;
    width: 700px;
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 
    font-weight: bold; 
    text-transform: uppercase;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
    transition: background-color 0.3s;
}


.header-button:hover {
    background-color:#F79327 ;
}

.btn-submit {
    background-color: #1B6392; 
    color: black; 
    padding: 9px 50px; 
    width: auto; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 
    font-weight: bold; 
    text-transform: uppercase;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
    transition: background-color 0.3s;
}

.btn-submit:hover {
    background-color: #F79327;
}

